@media only screen and (min-width: 35em) {


    .banner {
        font-size: 1rem;
        padding: 5px;
    }

    .banner p {
        margin: 0;
        padding: 0;
    }

    header ul li:nth-child(1) {
        font-size: 2.2rem;
    }

    header ul li:nth-child(2) {
        font-size: .9rem;
    }

    header picture {
        max-width: 100px;

    }

    .navigation {
        display: flex;
        padding: 0;
        margin: 0;
    }

    .navigation li {
        display: block;
        flex: 1 1 auto;
    }

    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
        padding: .8rem 1rem;
        font-size: .8rem;
        font-weight: bold;
    }

    .navigation li:first-child {
        display: none;
    }

    /*Main */

    main .brochureBox .card{
        display: grid;
        grid-template-columns: 1fr 1fr;
    
    }


    /*end medium*/

}
    