/***************************************************************

FONTS
font-family: 'Cinzel', serif;
font-family: 'Finger Paint', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Merriweather', serif;
font-family: 'Acme', sans-serif;
font-family: 'Lexend Mega', sans-serif;
*/

/*
COLORS
Primary - #77A6F7 - rgb(119, 166, 247) - Sky Blue - background
Primary - #FFFFFF - rgb(255,255,255) - white - background
Primary - #333333 - rgb(51,51,51) - lighter black - paragraph font color
Secondary - #00887A - rgb(0, 136, 122) - green - nav color
Secondary - #FFCCBC - rgb(189, 183, 107) - nav color
Secondary - #666600 - rgb(255,255,0) - yellow - for footer contrast

********************************************************************/


ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li a {
    text-decoration: none;
}

body {
    background-color: rgba(255, 255, 255, 1);
    /*background-color: #F5F5DC; */
    font-family: 'Open Sans', sans-serif;
}

/*Banner CSS */

.banner {
    background-color: rgba(255, 255, 0, .5);
    display: none;
    font-size: .8rem;
    padding: 3px;
}

.banner p {
    margin: 0;
    padding: 0;
    text-align: center;
}

/*Header CSS */

header {
    display: flex;
    justify-content: center;
    background-color: rgb(119, 166, 247);
    padding: .5rem;
}

header div {
    max-width: 80px;
}

header img {
    max-width: 80%;
}

header ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;

}

header ul li a {
    text-decoration: none;
    text-align: center;
    color: #333333;
    
}

header ul li:nth-child(1) {
    font-family: 'Lexend Mega', sans-serif;
    font-size: 1.6rem;
    
}

header ul li:nth-child(2) {
    font-size: .8rem;
}

header ul li:nth-child(2) a {
    color: white;
}


/*Navigation CSS */

nav {
    background-color: #00887A;
    font-family: 'Open Sans', sans-serif;

}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li:first-child {
    display: block;
    background-color: transparent;
    border: none;
    font-size: .8rem;
    font-weight: 600;

}

#menuText {
    font-size: 1rem;

}

.navigation li {
    display: none;
}

.responsive li {
    display: block;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #333333;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    text-align: center;
}

nav ul li.active a {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;

}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-weight: 400;

}


/*Main Page CSS */


main {
    color: #333333;
}
main section {
    margin-bottom: .2rem;
}

main h2,
h3,
h1 {
    text-align: center;
    font-family: 'Merriweather', serif;
}

/* Brochure Box */

main .brochureBox{
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 136, 122, .2);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2% 1.5rem 2%;

}

main .brochureBox .card article{
    display: block;
    width: 85%;
    background-color: rgba(255, 204, 188, .5);
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin: .5rem auto;
    border-radius: 3px;
    padding: 1rem;
    
}

main .brochureBox .card article .cardBox .divPriceBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

main .brochureBox .card h4{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin-bottom: 0;
}

main .brochureBox .card article .cardBox .capacity {
    margin-bottom: 1rem;
}

main .brochureBox .card p{
    text-align: center;
    font-size: .8rem;
    font-weight: 600;
    margin: auto;
    
}

main .brochureBox .card img{
    display: block;
    width: 95%;
    margin: 1rem auto auto auto;
    box-shadow: 0 0 10px;
    border-style: inset;
}

main .brochureBox .card .cardBox .buttonCheck {
    background-color: rgba(0, 136, 122, .8);
    width: 60%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-top: 1rem;
}

main .brochureBox .card .cardBox .buttonCheck:hover {
    background-color: rgba(0, 136, 122, .5);
}

footer {
    width: 100%;
    background-color: #77A6F7;
    color: white;
    text-align: center;
    font-size: .8rem;
    padding: 5px 0;
    margin: 0 auto;
}

footer ul li {
    padding: 5px;
}

footer ul li:nth-child(2) {
    color: yellow;
}


.clearfix:after {
    content: "";
    display: table;
    clear: both;
}