/* 64 em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem){
    
    header ul li:nth-child(1){
        font-size: 2.5rem;
    }
    header ul li:nth-child(2){
        font-size: 1rem;
    }

    /* Main Page */

    /*Town Section */

    main .townbox .card{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

    }

    main .townbox .card article{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    article:nth-child(odd) img{
        grid-row: 2

    }
    article:nth-child(odd) .cardData{
        grid-row: 1;

    }


    /* Article Section */

    main .articleBox {
        width: 76%;
    }

    main .townbox{
        width: 80%;
    
    }

    /* Map Section */

    .locationContent {
        width: 80%;
    }
    




} /* end large */