/* 64 em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {

    header ul li:nth-child(1) {
        font-size: 2.5rem;
    }

    header ul li:nth-child(2) {
        font-size: 1rem;
    }

    /* Main Page */

    main .tourBox .cardBox .card .divSummary {
        display: block;
        
    }

    main .tourBox .cardBox .card .divPicSummary .divSummary h4{
        font-size: 1.8rem;
    }

    main .tourBox .cardBox .card .divSummary .description{
        display: block;
        padding: .5rem 0 2.5rem 0;
        
    }


    main .tourBox .cardBox .card .divSummary .priceBox {
        float: right;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-left: 3rem;
        padding-bottom: 3rem;
        
    }


}

/* end large */